
#title{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

#container{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-right: 3em;
	margin-left: 3em;
}

#content{
	margin-top: 2em;
	margin-bottom: 2em;
}

#submit-button{
	width: 30%;
}

#start-container{
	text-align: center;
}

#start-button{

}

input{
	height: 4em;
	width: 40%;
	margin-right: 0.5em;
	border: 0.1em solid black;
	font-family: 'Roboto', sans-serif;
	padding: 1em;
}

button{
	width: 15%;
	height: 4em;
	color: white;
	background-color: #6295B4;
}
